:root {
  --bg-primary: #40ada2;
  --bg-secondary: #CBF3F0;
}

body {
  background-color: #9ed6c2;
}

body, h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.app{
  background-color: var(--bg-primary);
  width: 20rem;
  height: 37rem;
  display: flex;
  flex-direction: column;
}

.chat-messages-container{
  background-color: var(--bg-secondary);
  flex-grow: 1;
  overflow:auto;
}


.message-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

 margin-left: 1rem;
 margin-right: 1rem;
}
.chat-message-user{

}
.chat-message-body{

}

.system-message{
  color: rgb(68, 68, 68);
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
}